


<!-- {{output}} -->

<input type="text" [(ngModel)]='input'>
<br>
{{input}}
<div class="container">
    <div style="text-align: center">
      <h2>Employer and Candidate Mangement System</h2>
    </div>
    <hr />
    Click here to save !
<button (click)="save()" class="btn btn-primary" style="color: red">Save</button>
<hr/>
CLick here to get the candidate
<button (click)="getCandidate()" class="btn btn-primary" style="color: red">Gets candidae 327</button>
<hr/>
Click her to Update the candidate
<button (click)="updateCandidate()" class="btn btn-primary" style="color: red">Update 427</button>
<hr/>
    Click her to get the questions
<button (click)="getQuestion()" class="btn btn-primary" style="color: red">Question 427</button>
<hr/>
    click here to get the comments
<button (click)="getComment()" class="btn btn-primary" style="color: red">Comment 427</button>
<hr/>
    click here to get the badges 
<button (click)="getBadge()" class="btn btn-primary" style="color: red">Badge 427</button>
<hr/>
</div>